<h3 class="text-md-center font-weight-bold pb-4">Education comportementale</h3>
<div class="row border-bottom">
  <div class="col-12">
    <p>
      Au cours de sa vie, un chien peut développer des troubles comportementaux. Il faut agir assez vite
      car le temps n'arrange rien, bien au contraire.
    </p>
  </div>
</div>

<div class="row border-bottom mt-3 align-items-end">
  <div class="col-12 col-lg-6">
    <p><u>Qu’est ce qu'un trouble du comportement ?</u></p>
    <ul style="list-style-type: none;">
      <li><i class="fas fa-paw text-secondary mr-1"></i>Votre chien aboie sans arrêt ?</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>Votre chien a peur du bruit, des personnes ?</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>Votre chien ne s'entend pas avec ses congénères ?</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>Votre chien est agressif ?</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>Votre chien urine dans la maison ?</li>
      <!-- <i class="fas fa-paw text-secondary mr-1"></i> -->
    </ul>
  </div>
  <div class="col-12 col-lg-6">
    <p>Je peux surement vous aider, vous écouter, mais en aucun cas je ne vous jugerai.</p>
    <p>Je peux vous apprendre à communiquer correctement avec votre chien pour rétablir la sérénité dont
vous avez besoin, afin que votre duo maître/chien puisse s'épanouir comme il se doit.</p>
  </div>
</div>

<div class="row mt-3 align-items-end">
  <div class="col-12 col-lg-4 pb-3 pb-lg-0">
    <picture>
     <source srcset="https://picsum.photos/250" media="(max-width: 450px)">
     <source srcset="https://picsum.photos/400">
     <img src="https://picsum.photos/400" alt="tyson">
    </picture>
  </div>
  <div class="col-12 col-lg-8">
    <p class="border-bottom pb-3">
      Pour la rééducation comportementale, il est indispensable que le maître, ainsi que les membres de la
      familles soient impliqués.
      Il faudra de la patience pour atteindre votre but.
    </p>
    <p class="border-bottom pb-3">
      Je me déplacerai à votre domicile pour comprendre
      les réactions de votre chien au sein de son environnement.
    </p>
    <p> Je me déplacerai à votre domicile pour comprendre
les réactions de votre chien au sein de son environnement.
Il se peut (tout dépend du problème) que la situation soit réglée en une seule intervention si par la
suite vous êtes assidu à ce que je vous aurai conseillé.
Dans le cas contraire, je mettrai en place une thérapie comportementale sur plusieurs séances.
Un chien ayant un trouble du comportement n'est pas une fatalité. A chaque problème, sa solution.
Attention : Certains troubles du comportement peuvent être liés à des problèmes de santé, une visite
chez le vétérinaire peut s'avérer nécessaire.
Ces séances de rééducation comportementale se font exclusivement en cours individuel.</p>
  </div>
</div>
