<h3 class="text-md-center font-weight-bold pb-4">Education d'un chiot</h3>
<div class="row border-bottom">
  <div class="col-12">
    <p class="border-bottom pb-3">
      Lors de l'adoption d'un chiot, <b>ne tardez pas</b> à commencer son éducation et à le socialiser. C'est ainsi
      que vous pourrez profiter pleinement des années de vie ensemble.<br>
      <i>Plus on commence rapidement, plus les résultats seront rapides.</i> Il ne faut surtout pas manquer cette
      période primordiale pour le bien être de votre chien qui est lié au votre.
    </p>
    <p class="border-bottom pb-3">
      Pour sensibiliser votre chiot a l'éducation canine, les cours seront basés sur des jeux éducatifs ainsi
      il apprendra tout en s'amusant.
    </p>
    <p>
      Le premier cours se déroulera <b>à votre domicile</b> afin que je puisse faire la connaissance de votre
      chien et me familiariser avec son environnement.
      Je pourrai vous aiguillez sur les marches à suivre au sein de votre domicile et vous organisez un
      programme d'éducation adapté au besoin de votre chien.
    </p>
  </div>
</div>
<div class="row border-bottom mt-3 pb-3 align-items-center">
  <div class="col-12 col-lg-6">
    <picture>
     <source srcset="https://picsum.photos/250" media="(max-width: 450px)">
     <source srcset="https://picsum.photos/400">
     <img src="https://picsum.photos/400" alt="tyson">
    </picture>
  </div>
  <div class="col-12 col-lg-6 mt-3 mt-lg-0">
    <p><u>Lors des cours, il apprendra :</u></p>
    <ul style="list-style-type: none;">
      <li><i class="fas fa-paw text-secondary mr-1"></i>A se concentrer et à vous écouter</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>A être sociable avec les humains et ses congénères</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>A respecter les autres chiens</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>A prendre confiance en lui afin qu'il soit bien dans ces pattes</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>A se laisser manipuler</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>L'éducation des ordres de base.</li>
      <!-- <i class="fas fa-paw text-secondary mr-1"></i> -->
    </ul>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <p>
      Pour l'éducation d'un chiot il faut prévoir minimum <b>10 séances</b> afin de pouvoir aborder et acquérir
      tous les ordres de bases.
      C'est donc avec de la <b>patience</b>, de la <b>motivation</b> et de la <b>bienveillance</b> que vous assurerez de bonnes
      bases pour votre duo maître/chien. Vous prendrez <b>plaisir</b> à le voir découvrir plein de choses et évoluer.
      Ainsi, vous bâtirez votre relation de <b>confiance</b> avec votre compagnon.
    </p>
  </div>
</div>
