<h3 class="text-md-center font-weight-bold pb-4">Education canine</h3>
<div class="row border-bottom">
  <div class="col-12">
    <p>
      Il faut plusieurs séances pour l'éducation d'un chien. Une seule séance ne peut pas suffire pour
      accomplir le travail nécessaire.
      Pour obtenir de bons résultats, il faut être patient, rigoureux, mais toujours dans la bonne humeur.
    </p>
    <p>
      <u>
        Ce que vous apprendrez en éducation :
      </u>
    </p>
    <ul class="list-unstyled">
      <li><b>Obéissance de base</b> : assis, couché, pas bouger, la marche en laisse, la marche au pied...</li>
      <li><b>Apprentissage utile</b> : pas sauter, donne, au panier, ne pas mordiller...</li>
    </ul>
    <p>
      Je vous donnerai les clefs nécessaires pour acquérir ces bases.
    </p>
    <p>
      Je propose deux types de cours. Les cours individuels et les collectifs.
    </p>
  </div>
</div>
<h4 class="text-md-center font-weight-bold mt-3">Cours individuels</h4>
<div class="row border-bottom pb-lg-4">
  <div class="col-12 col-lg-8 order-last order-lg-first">
    <p class="border-bottom pb-3">
      Les cours individuels durent 1 heure et peuvent se dérouler à votre domicile, en centre ville ou dans
      un parc en fonction du travail a réaliser.
    </p>
    <p class="border-bottom pb-3">
      Ces cours servent à comprendre le langage canin, afin que vous puissiez comprendre votre
      compagnon et a surmonter les difficultés rencontrer lors de son éducation.
    </p>
    <p>
      J'effectue toujours un premier rendez vous d'évaluation d’une durée d’1h30. Cette évaluation
      permettra de mettre en place un programme d'éducation pour répondre à votre demande et celle de
      votre chien.
    </p>
  </div>
  <div class="col-12 col-lg-4 mb-4 mb-lg-0 order-first order-lg-last">
    <picture>
     <source srcset="https://picsum.photos/250" media="(max-width: 450px)">
     <source srcset="https://picsum.photos/400">
     <img src="https://picsum.photos/400" alt="tyson">
    </picture>
  </div>
</div>
<h4 class="text-md-center font-weight-bold mt-3">Cours collectifs</h4>
<div class="row">
  <div class="col-12 col-lg-4 mb-4 mb-lg-0">
    <picture>
     <source srcset="https://picsum.photos/250" media="(max-width: 450px)">
     <source srcset="https://picsum.photos/400">
     <img src="https://picsum.photos/400" alt="tyson">
    </picture>
  </div>
  <div class="col-12 col-lg-8">
    <p class="border-bottom pb-3">
      Les cours collectifs durent 1 heure et se pratique avec 5 chiens maximum afin de pouvoir être
      présente pour tout le monde.
    </p>
    <p class="border-bottom pb-3">
      Je ne prendrai en cours collectif que les chiens que je connais déjà et que j'ai déjà eu en cours
      individuel. Il sera possible d'intégrer un chien et son maître en cours collectif à l'issue d'une
      évaluation.
    </p>
    <p>
      Les cours collectifs servent à confirmer l&#39;éducation de votre chien en présence d&#39;autres congénères
      donc avec plus de stimuli. De plus, vous allez développer la sociabilisation de votre compagnon
      avec ses congénères, ce qui est tout aussi important qu&#39;avoir appris des ordres de bases.
      Tout est mis en place pour que vous ayez une relation de confiance avec votre compagnon de route
      dans la sérénité la plus totale
    </p>
  </div>
</div>
