<h3 class="text-md-center font-weight-bold pb-4">Massages canins</h3>
<div class="row border-bottom">
  <div class="col-12 col-lg-9">
    <p><u>Le massage canin a plusieurs rôles :</u></p>
    <ul style="list-style-type: none;">
      <li><i class="fas fa-paw text-secondary mr-1"></i>Libération des hormones (détente cérébrale, décontraction musculaire)</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>Soulager les douleurs musculaires</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>Gagner en aisance articulaire</li>
      <!-- <i class="fas fa-paw text-secondary mr-1"></i> -->
    </ul>
    <p><u>Le massage canin a des effets mécaniques :</u></p>
    <ul style="list-style-type: none;">
      <li><i class="fas fa-paw text-secondary mr-1"></i>Amélioration de l'oxygène des tissus</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>Favorise un bon métabolisme</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>Réduit le dioxyde de carbone</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>Réduit la pression artérielle</li>
      <li><i class="fas fa-paw text-secondary mr-1"></i>Stimule les terminaisons nerveuses cutanées</li>
      <!-- <i class="fas fa-paw text-secondary mr-1"></i> -->
    </ul>
  </div>
  <div class="col-12 col-lg-3">
    <p>
      <i>
        <u>Bon à savoir :</u><br>
        Mon protocole de massage peut convenir à tous les chiens (nerveux, âgés, peureux, sportif,
        hyperactif...) car j'effectue des massages <b>bien-être</b> et <b>non thérapeutique</b>.<br><br>
        Les massages ne peuvent remplacer des soins vétérinaires.
      </i>
    </p>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <p>Je pratique deux types de massage :</p>
    <ul style="list-style-type: none;">
      <li><i class="fas fa-paw text-secondary mr-1"></i><b>Le massage californien</b></li>
      <li><i class="fas fa-paw text-secondary mr-1"></i><b>Le massage suédois</b></li>
  </div>
</div>
<div class="row border-bottom">
  <div class="col-6">
    <p>
      <b>Le massage californien</b> a été créé pour la relaxation et le bien-être de votre chien.
      Il peut être effectué une fois par semaine si votre chien a un rythme de vie athlétique ou alors après
      une grande randonnée.
    </p>
  </div>
  <div class="col-6">
    <p>
      <b>Le massage suédois</b> a été créé pour préparer votre chien à une longue activité sportive. Il permet de
      conditionner les muscles afin d'éviter les blessures.
    </p>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <p>La durée d'un massage est de <b> 30 à 40 minutes</b>.</p>
    <p><b><u>Important :</u></b><br>
    Chaque chien a un niveau d'acceptation différent. <br>Il est possible que l'habituation suscite
    plusieurs séances avant d'arriver à explorer les 40 minutes.<br>

    Dans ce cas, <b>uniquement le temps passé</b> à masser votre chien vous sera facturé.</p>
  </div>
</div>
