<h3 class="text-md-center font-weight-bold pb-4">Ma méthode</h3>
<div class="row border-bottom pb-lg-4">
  <div class="col-12 col-lg-4 mb-4 mb-lg-0">
    <picture>
     <source srcset="https://picsum.photos/250" media="(max-width: 450px)">
     <source srcset="https://picsum.photos/400">
     <img src="https://picsum.photos/400" alt="tyson">
    </picture>
  </div>
  <div class="col-12 col-lg-8">
    <p class="border-bottom pb-3">Ma méthode se base sur la technique du renforcement positif qui consiste à récompenser les bons
      comportements du chien puis d’en corriger les mauvais.
      Aucune contrainte physique n'est exercée sur le chien. De ce fait l'éducation devient ludique, elle
      permet une meilleure évolution tout en nourrissant la complicité du chien avec son maître.
      Pour aborder les ordres de bases (assis, couché, statique, rappel...), des exercices et des jeux sont
      mis en place afin que le duo maître/chien aborde de façon amusante et complice l'éducation canine.
    </p>
    <p>J'aborde également les problèmes comportementaux que vous pouvez observer chez votre chien. Je
    vous donnerai les outils nécessaires pour les régler et les corriger afin de ramener de la sérénité dans
    votre foyer.
    </p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12 col-lg-8 order-last order-lg-first">
    <p class="border-bottom pb-3">J'accepte les chiens de tous âges. Idéalement, l'éducation canine chez un chien commence aux
    alentours de 3 mois.
    </p>
    <p class="border-bottom pb-3">Chaque chien est unique, la prestation est donc adaptée en tenant compte de son caractère, de son
    histoire ainsi que de son environnement. J'effectue donc la première visite à votre domicile pour
    établir ensemble le profil de votre compagnon.
    C'est à l'issue de cette visite que je pourrai estimer le nombre de séances nécessaires.
    </p>
    <p class="border-bottom pb-3">Les séances d'éducation canine s'effectuent de manière individuelle dans un premier temps afin
    d’évaluer la sociabilité du chien au vue de l’intégrer et accéder petit à petit aux cours collectifs.
    </p>
    <p>
      <u>
        Eduquer son chien, c'est :
      </u>
    </p>
    <ul class="list-unstyled">
      <li><b>Assurer son bien-être et le vôtre</b></li>
      <li><b>Créer un lien</b></li>
      <li><b>Le connaître et le contrôler (pouvoir profiter pleinement)</b></li>
    </ul>
  </div>
  <div class="col-12 col-lg-4 mb-4 mb-lg-0 order-first order-lg-last">
    <picture>
     <source srcset="https://picsum.photos/250" media="(max-width: 450px)">
     <source srcset="https://picsum.photos/400">
     <img src="https://picsum.photos/400" alt="tyson">
    </picture>
  </div>
</div>
