<h3 class="text-lg-center font-weight-bold pb-4">Qui suis-je ?</h3>
<div class="row">
  <div class="col-12 col-lg-4 mb-4 mb-lg-0">
    <picture>
     <source srcset="https://picsum.photos/250" media="(max-width: 500px)">
     <source srcset="https://picsum.photos/400">
     <img src="https://picsum.photos/400" alt="tyson">
    </picture>
  </div>
  <div class="col-12 col-lg-8">
    <p class="border-bottom pb-3">
      Je m'appelle Elodie, je suis passionnée depuis toujours par les animaux et j’ai développé une affection toute particulière pour les chiens. Il était donc naturel de faire de ma passion, mon métier.
    </p>
    <p class="border-bottom pb-3">
      Je suis diplômée du centre de formation « Entre chien » basé à Tullins (38), qui forme au métier d'éducateur canin dans le respect du bien-être du chien.
    </p>
    <p>
      Je possède depuis 2013 un Berger Belge Malinois. Depuis son arrivée à la maison nous avons évolué ensemble pour que chacun trouve sa place dans le respect et l’harmonie de la vie commune et beaucoup d’amour.
      Je travaille bénévolement à la SPA DU DAUPHINE depuis 2017 en compagnie de Tyson pour faciliter la réhabilitation et la socialisation des chiens en attente d'adoption.
    </p>
  </div>
</div>
